In [1]:
import numpy as np 
import pandas as pd
import torch

In [2]:
cv=torch.load('dataset/course_nm_tensor.pt')

In [3]:
cvnpy=cv.detach().numpy()
cvnpy[:4]

array([[ 0.00144092, -0.01703043,  0.00412345, ...,  0.0865251 ,
        -0.05929217,  0.00758869],
       [-0.00358773, -0.01746405, -0.12736031, ...,  0.02512024,
        -0.01919973,  0.01910394],
       [-0.00345605, -0.03809951, -0.0692881 , ...,  0.03877716,
        -0.03475577, -0.03682799],
       [ 0.0022921 , -0.07450938, -0.00588197, ...,  0.00472871,
        -0.03109727, -0.00817915]], dtype=float32)

In [7]:
#group by whether it is 전공 
#같은 전공 내에서 진행

curridb=pd.read_csv('original_data/curriculumDB.txt')
coursedb=pd.read_csv('original_data/courseDB.txt')
ccdb=pd.read_csv('original_data/curri_courseDB.txt')

In [16]:
curridb.head(5)

,curr_id,the_year,subject_name,major_division,elec_num,ge_info
0,628b75c1920a8302ce7ea449535834a877720b79499426...,2019,건축도시시스템공학,1,138,10
1,e3e972226e56ed375c91a5f95e8c7f098e7bd3bfbac3e9...,2019,건축학,1,148,10
2,2ec8f0ea892df31db7f724bb6f5905e5a32a524ee7d33f...,2019,기후·에너지시스템공학,1,138,10
3,b4a6f11c5c2fdf083a2cc098db210bd7a91c1357a1164e...,2019,사이버보안,1,139,10
4,07902b1e387b5dcdd2ae8d9929576ac23aacd48c628d3a...,2019,식품공학,1,138,10

In [22]:
type(curridb.loc[0,'the_year'])
curridb.loc[0,'the_year']==2019
curridb.loc[3,'subject_name'].strip()=='사이버보안'
#print(curridb.loc[3,'subject_name'])

True

In [23]:
#subject_name, the_year정보를 바탕으로 구한다
subject_name='사이버보안'
the_year=2019

curr_id=curridb[(curridb['the_year']==the_year) & (curridb['subject_name'].apply(str.strip)==subject_name)]['curr_id']
curr_id

3    b4a6f11c5c2fdf083a2cc098db210bd7a91c1357a1164e...
Name: curr_id, dtype: object

In [ ]:
#currid를 바탕으로 사용자의 전공과목을 구한다 
#cold start 
#사용자의 전공과목과 전부 인접행렬을 만들고 
#해당 과목 인접행렬에서 가장 높은 것 N개를 구함